 <style>
   .js .mega-menu__content {opacity: unset!important;}
  .result_hover {display:none;}
  /* .gresult_hover {display:none;} */
  .mega-menu__content {position:absolute; width: 100%; left: 0; right: 0;z-index: 10;}
  ul.mega-menu__list { display: flex; gap: 5%;padding: 5px 20px; justify-content: center; align-items: flex-start;}
ul.mega-menu__list.page-width.mega-menu__list--condensed {
    display: flex!important;
}
 </style>

{% comment %}
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <div id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <div
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
              </div>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content result_hover color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li class="f-child">

                      {% if childlink.title contains 'https' %}
                         <a href="{{ childlink.url }}">
                         <img src=' {{ childlink.title }}' width="50" height="60">
                        </a>
          
                  {% else %}  
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                       {% endif %}
                    
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled grand gresult_hover" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>

                              {% if grandchildlink.title contains 'https' %}
                         <a href="{{ grandchildlink.url }}">
                         <img src=' {{ grandchildlink.title }}' width="50" height="60">
                        </a>
          
                  {% else %}  
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                               {% endif %}
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>

<script>
  
$(document).ready(function(){
   $(this).children( ".mega-menu__content").addClass("remove_hover"); 
  $(".mega-menu").mouseover(function(){     
    $(this).children(".mega-menu__content").removeClass("result_hover"); 
      $(this).children(".mega-menu__content").addClass("remove_hover"); 
  }); 
  
   $(".mega-menu").mouseout(function(){
    $(this).children( ".mega-menu__content").removeClass("result_hover"); 
      $(this).children( ".mega-menu__content").addClass("remove_hover"); 
  });  

  //  $(".f-child").mouseover(function(){     
  //   $(this).children(".grand").toggleClass("gresult_hover"); 
  //     $(this).children(".grand").toggleClass("gremove_hover"); 
     
  // });  
  //  $(".f-child").mouseout(function(){
  //   $(this).children( ".grand").toggleClass("gresult_hover"); 
  //     $(this).children( ".grand").toggleClass("gremove_hover"); 
  // });  
  }); 
  
</script>