 <div class="custom-image" style="position:relateive;"> 
         <img {% if section.settings.position-absolute %} style="position:absolute; left:{{ section.settings.left-image-position }}; right:{{ section.settings.right-image-position }}; top:{{ section.settings.top-image-position }}; bottom:{{ section.settings.bottom-image-position }};" {% endif %} src="{{ section.settings.image | image_url  }}" height="" width="">        
     </div>

{% schema %}
  {
    "name": "Custom Image",
    "settings": [
      {
      "type": "image_picker",
      "id": "image",
      "label": "Select Image"
    },
      {
  "type": "checkbox",
  "id": "position-absolute",
  "label": "Image Position Absoute",
  "default": true
},
      {
  "type": "range",
  "id": "left-image-position",
  "min": 0,
  "max": 500,
  "step": 5,
  "unit": "px",
  "label": "Left-position",
  "default": 0
},
      {
  "type": "range",
  "id": "right-image-position",
  "min": 0,
  "max": 500,
  "step": 5,
  "unit": "px",
  "label": "Right-position",
  "default": 0
},
      {
  "type": "range",
  "id": "top-image-position",
  "min": 0,
  "max": 500,
  "step": 5,
  "unit": "px",
  "label": "Top-position",
  "default": 0
},
      {
  "type": "range",
  "id": "bottom-image-position",
  "min": 0,
  "max": 500,
  "step": 5,
  "unit": "px",
  "label": "bottom-position",
  "default": 0
}
    ],
     "presets": [
     {"name": "Custom Image"}
    ]
  }
{% endschema %}