<section class="section_mains {% if section.settings.show_container %} page-width {% endif %}">
   <div class="main_image">   <img  src="{{ section.settings.collection.featured_image | image_url  }}" height="400px" width="400px"> 
    <div> {{ section.settings.collection.title }}
      {{ section.settings.collection.title }}
     <a href="{{ section.settings.button-url}}"><button>{{ section.settings.button-label}} <span>{{ section.settings.button-icon}}</span></button></a>
    </div>
   </div>
  <div class="my_gallery">   
   {% for block in section.blocks %}
   
     <div class="gallery-image"> 
         <img  src="{{ block.settings.collection1.featured_image | image_url  }}" height="350px" width="350px"> 
       <div> {{ block.settings.collection1.title }}
          <a href="{{ section.settings.button-url1}}"><button>{{ section.settings.button-label1}} <span>{{ section.settings.button-icon1}}</span></button></a>
       </div>
     </div>
      
    {% endfor %}
  </div>  
</section>


{% schema %}
  {
    "name": "Magazine-Gallery",
    "settings": [ 
      {
  "type": "checkbox",
  "id": "show_container",
  "label": "Enable Container",
  "default": false
},
    {
  "type": "collection",
  "id": "collection",
  "label": "Collection"
},
      {
  "type": "text",
  "id": "button-label",
  "label": "Button Label",
  "default": "SHOP NOW"
},
      {
  "type": "html",
  "id": "button-icon",
  "label": "Button Icon"
},
      {
  "type": "url",
  "id": "button-url",
  "label": "Button Url"
}      
    ],
    "blocks":[
      
  {
    "name": "Image",
    "type": "slide",
    "settings": [
        {
  "type": "collection",
  "id": "collection1",
  "label": "Collection"
} ,
  {
  "type": "text",
  "id": "button-label1",
  "label": "Button Label",
  "default": "SHOP NOW"
},
      {
  "type": "html",
  "id": "button-icon1",
  "label": "Button Icon"
},
      {
  "type": "url",
  "id": "button-url1",
  "label": "Button Url"
}
    ]
  }
    ],
    "presets": [
     {"name": "Magazine-Gallery"}
    ]
  }
{% endschema %}