<section class="text-columns {% if section.settings.show_container %} page-width {% endif %}">
<div class="double-columns">
  <div class="left-column">
   {% for block in section.blocks %}
    {% case block.type %}      
     {%- when 'text' -%}      
      <div> {{ block.section.text-label }} </div>
         {%- when 'button' -%}      
      <a class="button" href="{{ block.section.btn-label-url }}"> {{ block.section.btn-label }} </a>     
     {% endcase %}
    {% endfor %}
  </div>
  <div class="right-column">
   {% for block in section.blocks %}
    {% case block.type %}  
      
     {%- when 'icon' -%}      
      <div> <span>{{ block.section.icon }}</span>
        <span>{{ block.section.icon-label }}</span>
      </div>     
     {% endcase %}
    {% endfor %}
  </div>
  </div>
</section>


{% schema %}
  {
    "name": "Text Columns",
    "settings": [ 
      {
  "type": "checkbox",
  "id": "show_container",
  "label": "Enable Container",
  "default": false
}  
    ],
    "blocks":[
      
  {
    "name": "Text",
    "type": "text",
     "limit": 10,
      "settings": [        
  {
  "type": "richtext",
  "id": "text-label",
  "label": "Text"
  }
  ]
   },
       {
    "name": "Button",
    "type": "button",
     "limit": 2,
      "settings": [        
      {
        "type": "text",
        "id": "btn-label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "btn-label-url",
        "label": "Button Url"
      } 
    ]
  },
      {
    "name": "Icon",
    "type": "icon",
     "limit": 10,
      "settings": [        
      {
        "type": "html",
        "id": "icon",
        "label": "Icon"
      },
      {
        "type": "richtext",
        "id": "icon-label",
        "label": "Icon Label"
      } 
    ]
  }
      
    ],
    "presets": [
     {"name": "Text Columns"}
    ]
  }
{% endschema %}