<style>
  .double-columns {
    display: flex;
    gap: 1%;
    justify-content: space-between;
    align-items: flex-start;
        width: 100%;

}
  .small-page-width {
    max-width: 1000px;
    margin: auto;
}
  .right-column, .left-column {
    width: 50%;
}

</style>

<section class="text-columns {% if section.settings.show_container %} page-width {% endif %} {% if section.settings.show_small_container %} small-page-width {% endif %} ">
<div class="double-columns">
 
  <div class="left-column">
   {% for block in section.blocks %}
    {% case block.type %}      
     
      {%- when 'text' -%}      
      <div> {{ block.settings.text-label }} </div>
        
      {%- when 'button' -%}      
      <a class="button" href="{{ block.settings.btn-label-url }}"> {{ block.settings.btn-label }} </a>     
   
      {% endcase %}
    {% endfor %}
  </div>
  
  
  <div class="right-column">
   {% for block in section.blocks %}
    {% case block.type %}  
      
     {%- when 'icon' -%}      
      <div> <span>{{ block.settings.icon }}</span>
        <span>{{ block.settings.icon-label }}</span>
      </div>     
     {% endcase %}
    
     {% endfor %}
  </div>
  </div>
</section>


{% schema %}
  {
    "name": "Text Columns",
    "settings": [ 
      {
  "type": "checkbox",
  "id": "show_container",
  "label": "Enable Container",
  "default": false
},
      {
  "type": "checkbox",
  "id": "show_small_container",
  "label": "Enable Small Container",
  "default": true
}  
    ],
    "blocks":[
      
  {
    "name": "text",
    "type": "text",
     "limit": 10,
      "settings": [        
  {
  "type": "richtext",
  "id": "text-label",
  "label": "Text"
  }
  ]
   },
       {
    "name": "button",
    "type": "button",
     "limit": 2,
      "settings": [        
      {
        "type": "text",
        "id": "btn-label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "btn-label-url",
        "label": "Button Url"
      } 
    ]
  },
      {
    "name": "icon",
    "type": "icon",
     "limit": 10,
      "settings": [        
      {
        "type": "html",
        "id": "icon",
        "label": "Icon"
      },
      {
        "type": "richtext",
        "id": "icon-label",
        "label": "Icon Label"
      } 
    ]
  }
      
    ],
    "presets": [
     {"name": "Text Columns"}
    ]
  }
{% endschema %}