<div class="main-div">
    {% if section.settings.image1 != blank %}
    <div class="inner-div common-class" {% if section.settings.image1 != blank %} style="background-image:url('{{ section.settings.image1 | img_url : '' }}')" {% endif %}>
        {% if section.settings.title1 %}
        <div class="divTag">{{ section.settings.title2 }}</div>
        {% endif %}
        {% if section.settings.button1 %}
        <a href="{% if section.settings.link1 %}{{ section.settings.link1 }}{% else %}#{% endif %}">{{ section.settings.button1 }}</a>
        {% endif %}
    </div>
    {% endif %}
    {% if section.settings.image2 != blank %}
    <div class="inner-div common-class" {% if section.settings.image2 != blank %} style="background-image:url('{{ section.settings.image2 | img_url : '' }}')" {% endif %}>
        {% if section.settings.title2 %}
        <div class="divTag">{{ section.settings.title2 }}</div>
        {% endif %}
        {% if section.settings.button2 %}
        <a href="{% if section.settings.link2 %}{{ section.settings.link2 }}{% else %}#{% endif %}">{{ section.settings.button2 }}</a>
        {% endif %}
    </div>
    {% endif %}
</div>

{% schema %}
  {
    "name": "Two Image",
    "settings": [
      {
      "type": "select",
      "id": "select_field",
      "label": "Select an Option",
      "options": [
        {
          "label": "Full Width",
          "value": "page-width"
        },
        {
          "label": "Page With",
          "value": ""
        }
      ],
        "default": "page-width"
    },
      {
        "type":  "image_picker",
         "id" : "image1",
        "label": "Image"
      },
      {
        "type": "text",
         "id" : "title1",
         "label": "Title"
      },
      {
        "type": "text",
         "id": "button1",
          "label": "Button"
      },
      {
        "type": "url",
          "id": "link1",
         "label": "URL"
      },
       {
        "type":  "image_picker",
         "id" : "image2",
        "label": "Image"
      },
      {
        "type": "text",
         "id" : "title2",
         "label": "Title"
      },
      {
        "type": "text",
         "id": "button2",
          "label": "Button"
      },
      {
        "type": "url",
          "id": "link2",
         "label": "URL"
      }
    ],
    "presets": [
      {
        "name": "Two Image"
      }
    ]
  }
{% endschema %}